<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab 7 - Automation Testing Suite" parallel="classes" thread-count="2">

    <listeners>
        <listener class-name="dtm.listeners.TestListener"/>
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="dtm.tests.TC_DangNhapTest"/>

            <class name="dtm.tests.TC_GioHangTest"/>

            <class name="dtm.tests.TC_BlogspotTest"/>
        </classes>
    </test>
</suite>